.tab-content .tab-pane {
	margin-top: 20px;
}
.dropdown {
    display: inline-block;
}
.shop-page-button {
	background: #fff;
	border: 1px solid #999;
	color: #999;
	font-size: 20px;
	padding: 3px 12px;
	position: relative;
	top: 1px;
	cursor: pointer;
}
.tab-menu-search {
	border: 1px solid #ddd;
	height: 39px;
	padding: 5px;
	border-radius: 4px;
	margin-right: -6px;
	display: none;
}
.shop-page-table-content {
    margin-top: 10px;
    margin-bottom: 20px;
}
.shop-page-table-content table {
	background-color: #fff;
}
.shop-page-table-content .table-bordered {
	border: 1px solid #b4b4b4;
}
.icon-margin-right {
    margin-right: 10px;
}
.shop-pagination-total-page {
	display: inline-block;
	color: #8f8f97;
	font-size: 15px;
}
.shop-pagination-right {
    display: inline-block;
}
.shop-page-right-pagination {
    
}
.dashboard-page-title {
	display: inline-block;
	background-color: #38c4d5;
	padding: 5px 30px;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	border-radius: 7px;
	margin-bottom: 30px;
}
.margin-bottom-css {
    margin-bottom: 20px;
}
.margin-right-css {
    margin-right: 10px;
}
.float-right-css form input[type="search"] {
	border: 1px solid #b1b5b8;
	border-radius: 7px;
	padding: 10px;
	height: 30px;
}

.float-right-css .svg-inline--fa.fa-search.fa-w-16.shop-custom-search {
	font-size: 31px;
	margin-left: -32px;
	position: relative;
	top: 6px;
	padding: 5px;
	height: 32px;
}
#padding-left-right-0 {
    padding-left: 0;
    padding-right: 0;
}
.product-btn {
	font-size: 13px;
	margin-bottom: 10px;
    border: 1px solid #c7cbce;
}
.product-page-font-size {
    font-size: 12px;
}
.product-btn-c-one {
    background: #fff;
    color: #999;
}
.product-btn-c-two {
    background: #fe0103;
}
.product-btn-c-three {
    background: #3ebe6b;
}
.product-btn-c-four {
    background: #f69512;
}
.load-btn {
    border: 1px solid #4eb56c;
    background-color: #4eb56c;
    color: #fff;
}
.shop-pagination-right a {
	color: #8f8f97;
	font-size: 15px;
}
.shop-pagination-right a:hover {
    color: #000;
    text-decoration: none;
}
.product-pagination {
	border: 1px solid #8f8f97;
	padding: 3px 10px;
	margin: 0 10px;
}
.product-pagination:hover {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}
.product-inline-btn {
    display: inline-block;
    
}
.section-margin {
    margin: 30px 0;
}

.product-category-search {
	color: #6a6a6a;
	margin-top: 7px;
    float: right;
}
.product-category-search input {
    color: #6a6a6a;
}
input.product-search-btn {
    background: #0075b8;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #0075b8;
}
.input-search-product {
	border: 1px solid #fff;
	width: 30%;
	border-radius: 6px;
}
.shop-page-table-content {
	margin-top: 10px;
	margin-bottom: 20px;
	overflow: visible;
}
.table.dashboard-table-font-size td, .table th {
	font-size: 13px;
	text-align: center;
}

